---
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020, Collabora, Ltd.
Language:             Cpp
BasedOnStyle:         LLVM
Standard:             Auto

# Includes
SortIncludes:         true

# Indentation
IndentWidth:          8
TabWidth:             8
UseTab:               ForIndentation
AccessModifierOffset: -8
IndentCaseLabels: false
NamespaceIndentation: Inner

# Line length/reflow
ColumnLimit:          120
ReflowComments:       true
